
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
         
        </div>

        <!-- Login Form -->
        <form action="@Url.Action("Login","Acceso")" method="post">
            <input type="text" id="login" class="fadeIn second" name="Nombre_Usuario" placeholder="Usuario">
            <input type="text" id="password" class="fadeIn third" name="Password" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Iniciar Sesion">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Recuperar Contraseña</a>
        </div>

    </div>
    </div>
</body>
</html>
